version: 2
jobs:
  build:
    docker:
      - image: circleci/node:7.10
    working_directory: ~/repo

    steps:
      - checkout
      - run: ls 
      - run: make install
      - run: ls 
      - run: cd ./movies && ls 
      - run: make test
